:root {
    --verde: #3daf9e;
    --rosa: #cb3572;
    --preto: #202024;
}

a {
    text-decoration: none;
}

.dark-theme-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 0 var(--rosa);
    transition: all 0.1s ease-in-out;
    font-size: 50px;
    line-height: 70px;
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    background-color: var(--rosa);
}

.dark-theme-btn:hover{
    filter: brightness(1.2);
}

.dark-icon path {
    fill: white
}

.invisible {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    overflow-y: hidden;
}

.container-app {
    color: var(--preto);
}

.voltar-container {
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s all;
}

.voltar-container:hover {
    filter: brightness(1.2);
}

.voltar-container img {
    height: 20px;
}

.volta {
    padding-left: 10px;
    color: var(--verde);
    font-weight: bold;
}

.btn {
    color: white;
    background-color: var(--verde);
    border: 4px solid var(--verde);
    text-align: center;
    cursor: pointer;
    display: block;
    margin: auto;
    transition: 0.3s all;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    filter: brightness(1.2);
}

.btn-lg{
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-sm{
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 10px;
}

/* ----------- Global Styles ^^ ---------- */

.main-content a:focus {
    outline: none;
}

.container {
    padding-top: 70px;
}

.logo-inicio {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

.p-inicio {
    color: rgb(172, 172, 172);
    text-align: center;
    padding-top: 10px;
    margin: auto;
    margin-bottom: 50px;
    max-width: 500px;
}

/* ------------- dark-theme ------------- */

.dark{
    background-color: var(--preto);
    color: white;
}

.dark .p-inicio{
    color: rgba(255, 255, 255, 150);
}

.dark .botao-inicio{
    color: var(--preto);
}

.dark .light-icon path {
    fill: var(--preto);
}


/* -------------- split-sides pages ----------- */

.split-sides {
    display: flex;
    flex-direction: row;
}

.container-app {
    flex-basis: 55%;
}

.info-container {
    flex-basis: 45%;
}

.voltar-container {
    margin-left: 0px;
    margin-bottom: 50px;
}

.container-app {
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.input-container {
    flex: 1;
}

.error-icon {
    margin-top: 9px;
    margin-left: 10px;
    width: 25px;
}

input {
    border: 2px solid #dbdcdd;
    background-color: #E1E2E7;
    color: var(--preto);
    padding: 10px 10px;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    color: var(--preto);
    font-weight: bold;
}

.input-container input {
    width: 100%;
    font-weight: bold;
}

.input-container input.is-invalid {
    border-color: var(--rosa)
}

.invalid-feedback {
    color: var(--rosa);
    padding: 5px 0 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.info-container {
    min-height: 551px;
    max-height: 551px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    background-color: #14130E;
    color: white;
}

.info-container h2 {
    font-size: 30px;
    margin-bottom: 10%;
}

textarea {
    border: 2px solid #dbdcdd;
    background-color: #E1E2E7;
    color: var(--preto);
    padding: 10px 10px;
    border-radius: 10px;
    resize: none;
}

::-webkit-input-placeholder {
    color: var(--preto);
    font-weight: bold;
}

.input-container textarea {
    width: 100%;
    font-weight: bold;
}

.input-container textarea.is-invalid {
    border-color: var(--rosa)
}

.success-feedback{
    color: var(--verde);
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}